# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/builds/
app/build/intermediates/check-manifest/
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/
app/build/intermediates/incremental/debugAndroidTest-mergeJniLibs/
app/build/intermediates/incremental/debugUnitTest-mergeJavaRes/
app/build/intermediates/incremental/instantRunDependenciesApkBuilder/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/stripped.dir/
app/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
app/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/incremental/processReleaseResources/
app/build/intermediates/incremental/releaseUnitTest-mergeJavaRes/
app/build/intermediates/jniLibs/
app/build/intermediates/prebuild/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/tmp/
app/build/tmp/compileDebugAndroidTestJavaWithJavac/
app/build/tmp/compileDebugJavaWithJavac/
app/build/tmp/compileDebugUnitTestJavaWithJavac/
app/build/tmp/compileReleaseJavaWithJavac/
app/libs/
app/src/main/res/layout-v21/
